@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
  background-image: linear-gradient(to left,#494E6B , #192231);
  /* object-fit: cover; */
  color: #98878F;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size:18px;
}

img{
    object-fit: cover;
    border-radius: 200px;
}

strong{
  font-size: 22px;
  color:#985E6D;
}

.checked {
  color: rgba(255, 166, 0, 0.774);
  text-shadow: 1px 1px black;
}

h1{
  color: white !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  text-transform: uppercase;
}

h2{
  color: white !important;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

h4, h6{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
}

button, span.MuiButton-label-104{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 15px !important;
}

a{
  color: white !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  text-decoration: none !important;
  /* font-size: 20px; */
}

input#name, input#email, input#location, input#password{
  color: white;
  border-color:white;
}

a:hover{
  color: silver;
  /* font-weight: bold;
  border-width: 0.5px;
  border-bottom: solid; */
  padding: 5px;
  text-transform: uppercase;
}

p.signup{
  text-align: center;
}

div.section{
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Open Sans Condensed', sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #494E6B;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}