@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
  background-image: linear-gradient(to left,#494E6B , #192231);
  /* object-fit: cover; */
  color: #98878F;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size:18px;
}

img{
    object-fit: cover;
    border-radius: 200px;
}

strong{
  color:#985E6D;
}

h1{
  color: white !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  text-transform: uppercase;
}

h2{
  color: white !important;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

h4, h6{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
}

button, span.MuiButton-label-104{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 15px !important;
}

a{
  color: white !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  text-decoration: none !important;
  /* font-size: 20px; */
}

input#name, input#email, input#location, input#password{
  color: white;
  border-color:white;
}

a:hover{
  color: silver;
  /* font-weight: bold;
  border-width: 0.5px;
  border-bottom: solid; */
  padding: 5px;
  text-transform: uppercase;
}

p.signup{
  text-align: center;
}

div.section{
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}